# Dependencies
node_modules/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.env.development
.env.production
frontend/.env

# Database
*.sqlite
*.db
temp_mongo_data/


# Build/Dist
frontend/dist/
dist/

# OS Files
.DS_Store
Thumbs.db
*.zip

